{% extends 'store/index.html' %} {% block content %} {% load static %}
<section class="shopping-cart py-5">
  <div class="container">
    <div class="row">
      <!-- Shopping Cart Items -->
      <div class="col-md-8">
        <h3>Shopping Cart</h3>
        {% for item in items %}
        <div
          class="cart-item d-flex justify-content-between align-items-center p-3 my-3 bg-white rounded"
        >
          <img src="{{ item.product.image.url }}" class="img-fluid" />
          <div class="item-details flex-grow-1 ml-3">
            <h5>{{item.product.name}}</h5>
            <div class="quantity">
              <p>Quantity:</p>
              <p
                class="update-cart"
                data-product="{{item.product.id}}"
                data-action="remove"
              >
                <button class="btn btn-sm">-</button>
              </p>
              <p>{{item.quantity}}</p>
              <p
                class="update-cart"
                data-product="{{item.product.id}}"
                data-action="add"
              >
                <button class="btn btn-sm">+</button>
              </p>
            </div>
            <button class="btn btn-link p-0 ml-3">
              <i class="fa-regular fa-heart"></i>
            </button>
          </div>
          <div class="item-price text-right">
            <p class="mb-0">${{item.get_total | floatformat:2}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Order Summary -->
      <div class="col-md-4">
        <div class="order-summary p-3 bg-white rounded">
          <h4>Order summary</h4>
          <div class="d-flex justify-content-between">
            <p>Cart items</p>
            <p>{{order.get_cart_items}}</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <p>Estimated total</p>
            <p class="font-weight-bold">
              ${{order.get_cart_total | floatformat:2}}
            </p>
          </div>
          <a href="{% url 'checkout' %}"
            ><button class="btn btn-dark btn-block my-3">Checkout</button></a
          >

          <a href="{% url 'shop' %}"
            ><button class="btn btn-link btn-block">
              Continue shopping
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
