{% extends 'store/index.html' %} {% block content %} {% load static %}
<section class="shop">
  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4 col-lg-3 col">
        <div class="product-card">
          <a href="#" class="show-product-details" data-product="{{product.id}}">
            <div class="p-image">
              <img src="{% static 'images/' %}{{ product.image.url|cut:'/images/' }}" alt="" />
            </div>
            <div class="p-details">
              <div class="p-text">
                <p class="product-name">{{product.name}}</p>
                <p class="product-description">
                  {{product.details | truncatechars:50}}
                </p>
                <p class="product-price">${{product.price | floatformat:2}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
