{% extends 'store/index.html' %} {% block content %} {% load static %}
<section class="barner">
	<div class="container">
		<div class="row barner-row">
			<div class="col-md-6 barner-text">
				<h2>Time is money, Invest on it</h2>
				<p>Welcome to Clocks_Ke, your ultimate destination for exquisite Wall clocks. Explore a curated collection clocks crafted with precision and style. Whenever you're a charming clock to adorn your home, we have something for every moment. Shop now and elevate your sense of time with Clocks_Ke</p>
				<a href="{% url 'shop' %}"><button class="shop-now btn">Shop Now</button></a>

			</div>
			<div class="col-md-6 d-none d-md-block  barner-img">
				<img src="{% static 'images/clock2.png' %}" alt="" />
			</div>
		</div>
	</div>
	<div class="container text-center">
</section>

<section class="trending">
	<h4>Trending Designs</h4>
	<div class="container">
		<div class="row">
			{% for product in trending_products %}
			<div class="col-md-6 col-lg-4">
				<div class="p-image"><img src="{{ product.image.url }}" alt="" /></div>
				<div class="p-details">
					<div class="p-text">
						<p class="product-name">{{product.name}}</p>
						<p class="product-description">{{product.details | truncatechars:50}}</p>
					</div>
					<div class="price">
						<p class="product-price">${{product.price}}</p>
					</div>
				</div>
				<div class="p-action">
					<button class="btn update-cart" data-product="{{product.id}}" data-action="add">Add to Cart</button>
					<a href="{% url 'checkout' %}"><button class="btn">Buy Now</button></a>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}