{% extends 'store/index.html' %} {% load static %} {% block content %}

<section class="form-signin">
  <div class="container">
    {% if messages %} {% for message in messages %} 
    {% if message.tags == "error" %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %} {% if message.tags == "success" %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb4">
        <i class="fa-solid fa-right-to-bracket"></i>
      </div>
      <h1 class="h4 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <i class="fa-solid fa-envelope"></i>
        {{ form.email }}
      </div>
      <div class="form-floating">
        <i class="fa-solid fa-key"></i>
        {{ form.password }}
      </div>
      <button class="btn btn-sm btn-dark" type="submit">Sign in</button>
    </form>
  </div>
</section>

{% endblock %}
