{% extends 'store/index.html' %} {% block content %} {% load static %}

<section class="complete">
  <div class="container">
    <div class="row">
      <div class="col-md-12 complete-text">
        <i class="fa-solid fa-circle-check fa-xl" style="color: #0d9b59"></i>
        <p>
          Your order has been placed successfully. Processing for shipping will
          start Immediately. Thank You for shopping with Clocks_ke
        </p>
        <button class="btn">
          <a href="{% url 'shop' %}">Continue Shopping</a>
        </button>
      </div>
    </div>
  </div>
</section>

{%endblock %}
