{% extends 'store/index.html' %}{%load static%} {% block content %}

<section class="form-signin">
  <div class="container">
    {% if messages %} {% for message in messages %} 
    {% if message.tags == "error" %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %} 
    {% if message.tags == "success" %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %}
    <form action="" method="post" enctype="multipart/form-data" id="productForm">
      {% csrf_token %}
      <div class="mb4">
        <i class="fa-solid fa-clock fa-beat-fade"></i>
      </div>
	  <br>
	  <br>
      <h1 class="h4 mb-3 fw-normal">Add Product Details</h1>

      <div class="form-floating">
        <div>
          <p class="label">Name</p>
          {{form.name}}
        </div>
      </div>
      <div class="form-floating">
        <div>
          <p class="label">Price</p>
          {{form.price}}
        </div>
      </div>
      <div class="form-floating">
        <div>
          <p class="label">Description</p>
          {{form.details}}
        </div>
      </div>
      <div class="form-floating">
        <div>
          <p class="label">Image</p>
          {{form.image}}
        </div>
      </div>
      <button class="btn btn-sm btn-dark" type="submit">Upload</button>
    </form>

  </div>
</section>

<script src="{% static 'js/add-edit-products.js'%}"></script>

{% endblock %}
