{% extends 'store/index.html' %} {% block content %} {% load static %}
<section class="shop">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="product-card">
          <a href="{% url 'product' %}">
            <div class="p-image">
              <img src="{% static 'images/clock1.png' %}" alt="" />
            </div>
            <div class="p-details">
              <div class="p-text">
                <p class="product-name">Clock 1</p>
                <p class="product-description">
                  Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
                <p class="product-price">$100</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-card">
          <a href="{% url 'product' %}">
            <div class="p-image">
              <img src="{% static 'images/clock1.png' %}" alt="" />
            </div>
            <div class="p-details">
              <div class="p-text">
                <p class="product-name">Clock 1</p>
                <p class="product-description">
                  Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
                <p class="product-price">$100</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-card">
          <a href="{% url 'product' %}">
            <div class="p-image">
              <img src="{% static 'images/clock1.png' %}" alt="" />
            </div>
            <div class="p-details">
              <div class="p-text">
                <p class="product-name">Clock 1</p>
                <p class="product-description">
                  Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
                <p class="product-price">$100</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-card">
          <a href="{% url 'product' %}">
            <div class="p-image">
              <img src="{% static 'images/clock1.png' %}" alt="" />
            </div>
            <div class="p-details">
              <div class="p-text">
                <p class="product-name">Clock 1</p>
                <p class="product-description">
                  Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
                <p class="product-price">$100</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
