.form-signin {
  background-color: #e5e5e5;
  min-height: 100vh;
}
.form-signin .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-width: max-content;
  margin-top: 30px;
  padding: 50px;
}

.form-signin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-floating .btn {
  background-color: black;
}

.form-floating .btn:hover{
  opacity: 0.5;
}

.form-floating {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 2px;
}
.form-signin button:hover{
  opacity: 0.5;
}