body {
  font-family: monospace !important;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

i {
  color: black;
}

.btn-link {
  color: black;
}

/* navbar */
.custom-nav .custom-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-height: 80px;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  border: solid 2px black;
  padding: 5px;
}

.custom-navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.custom-navbar a:hover {
  color: black;
}

.custom-navbar .end {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
a img {
  width: 20px;
  height: 20px;
}

/* store page*/
.barner {
  background-color: #e5e5e5;
  min-height: 50vh;
  align-content: center;
}
.barner-text,
.barner-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.barner-img img {
  height: 270px;
  width: 300px;
}

.container .barner-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.barner-text .shop-now {
  border: none;
  background-color: #fca311;
  color: #ffffff;
}
.barner-text .shop-now:hover {
  background-color: #14213d;
  color: #e5e5e5;
}

/* Trending Products section */
.trending {
  padding: 20px;
  margin-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trending .container {
  margin-top: 30px;
}

.trending .p-image {
  background-color: #e5e5e5;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending .p-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.trending .p-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.trending .p-details .p-text {
  max-width: 70%;
}
.trending .p-details .price {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 5px;
  font-weight: 600;
  color: #fca311;
}

.trending .p-details .product-name {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

.trending .p-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.trending .p-action button {
  background-color: #14213d;
  color: #ffffff;
  border-radius: 10px;
}

.trending .p-action button:hover {
  background-color: #fca311;
}

/* footer */
.footer {
  margin-top: auto;
}
.footer-content {
  background-color: black;
  min-height: 60px;
  color: white;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

.footer-content p {
  padding-top: 20px;
  margin: auto 0 auto 0;
}
